@font-face {
  font-family: 'FTRegolaNeue';
  src: url('../../../public/fonts/FTRegolaNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FTRegolaNeue Bold';
  src: url('../../../public/fonts/FTRegolaNeue-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FTRegolaNeue Semibold';
  src: url('../../../public/fonts/FTRegolaNeue-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}